@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'varela-round';
  src: url('./fonts/VarelaRound-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  button {
    @apply rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-rose-50 shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 cursor-pointer;
  }
}